<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include('partials/head.html')%>
</head>

<body>
    <%- include('partials/navbar.html')%>

        <!-- Page Content -->
        <div class="container-fluid">

            <h1 class="fw-light text-center text-lg-start mt-4 mb-0">
                <%= title%>
            </h1>

            <hr class="mt-2 mb-5">

            <div class="row text-center text-lg-start">

                <div class="w-50 p-3">
                    <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">

                </div>


            </div>


        </div>
</body>

</html>