<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include('partials/head.html')%>
</head>

<body>
    <%- include('partials/navbar.html')%>

        <!-- Page Content -->
        <div class="container-fluid">

            <%- include('partials/header.html')%>

            

            <div class="row text-center pt-4 pb-4 container-fluid">

                <!--
                <div class="container-fluid col-md-7">
                    <img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="">
                </div>
                -->

       
                
                <div class="col-md-7 h-100 my-auto">
                    <!--<img class="img-fluid img-thumbnail" src="https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1750&q=80" alt="">-->
                    <img class="img-fluid img-thumbnail" src="<%= image %>" alt="">

                </div>

                <div class="col-md-5 h-100 my-auto mt-4 mb-4">
                    <div class="container-fluid text-lg-start h-100 my-auto">
                        <p>Nombre del archivo: prueba</p>
                        <p>Marca de la camara: prueba</p>
                        <p>Modelo de la camara: prueba</p>
                        <p>ISO: prueba</p>
                        <p>Velocidad de obturación: prueba</p>
                        <p>Diafragma: prueba</p>
                        <p>Extensión del archivo: prueba</p>
                        <p>Peso de la imagen: prueba</p>
                        <p>Fecha de creación: prueba</p>
                    </div>
                    
                    <div class="container-fluid text-lg-start   mb-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Notas adicionales:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Escribe aqui tus notas..."></textarea>
                    </div>
                    <div class="container-fluid mt-2 mb-2">
                        <button type="submit" class="btn btn-dark">Guardar cambios</button>
                    </div>
                </div>
                
         


            </div>


        </div>

        <%- include('partials/footer.html') %>
</body>


</html>