<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <%- include('partials/head.html')%>
</head>

<body>
    <%- include('partials/navbar.html')%>
    <%- include('partials/header.html')%>
        <!-- Page Content -->
        <div class="row container-fluid w-auto text-center">

            <% for (let index = 0; index < data.length; index++) { %>
            
            <div class="container-fluid col-md-3 mb-4 pt-2">
                <a href="<%= data[index].route %>" class="">
                    <img class="img-fluid img-thumbnail w-100"  src="<%= data[index].url %>"
                        alt="">    
                </a>
                <p class="w-auto h4 rounded mt-1 p-1"><%= data[index].title %></p>
            </div>

            <%}%>

        </div>
        <%- include('partials/footer.html') %>
</body>

</html>